/* Set body background color */
body {
    background-color: #adb3c8; /* Replace with your desired background color */
}

/* Reset styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Palatino, 'Palatino Linotype', 'Book Antiqua', serif; /* Palatino font family */
}

/* Header styles */
header {
    background-color: #000620;
    color: #fffcdf;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
}

/* Logo styles */
.logo {
    max-width: 190px;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
}

.logo img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Header text styles */
.header-text {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    flex-grow: 1;
}

/* Title styles */
header h1 {
    margin-bottom: 1px;
}

/* Banner image styles */
.banner-image {
    width: auto;
    padding: 1px;
}

/* Navigation styles */
nav {
    margin-top: 1px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

/* Dropdown menu button styles */
#dropdown {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 200px;
    width: 100%;
    background-color: #fffcdf; /* Background color */
    color: #333; /* Text color */
    position: relative;
    appearance: none; /* Remove default styling */
}

/* Dropdown arrow icon */
#dropdown::after {
    content: '\25BE'; /* Unicode character for downward arrow */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none; /* Ensures dropdown arrow does not interfere with clicking */
}

/* Adjust appearance on hover/focus */
#dropdown:hover,
#dropdown:focus {
    border-color: #66afe9; /* Example color change on hover/focus */
    outline: none; /* Remove default focus outline */
}

/* Main content styles */
main {
    padding: 20px;
}

/* Content section styles */
#content {
    margin-top: 20px;
    text-align: center;
}

/* Media query for smaller screens */
@media only screen and (max-width: 600px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    .logo {
        max-width: 80px;
        position: relative;
        left: auto;
        transform: none;
        margin-bottom: 10px;
    }

    .logo img {
        max-width: 100%; /* Ensure the image takes full width of its container */
        height: auto; /* Maintain aspect ratio */
    }

    .header-text {
        text-align: center;
    }

    nav {
        margin: 0 auto;
    }

    header h1 {
        margin-top: 1px;
        margin-bottom: 0;
    }

    #dropdown {
        max-width: 100%;
    }

    /* Set max-height for banner-image on mobile */
    .banner-image {
        max-height: 90px;
    }
}
